# Entorno virtual
venv/
env/
.venv/

# Base de datos local
*.db
*.sqlite3

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Variables de entorno
.env
.env.*

# IDE
.vscode/
.idea/
*.swp

# Sistema operativo
.DS_Store
Thumbs.db

# Uploads locales (si se añaden después)
static/uploads/
